# TASK2 :- Python Assessment

1.	Read the csv or excel file. 
2.	Change the datatypes of the column and check the memory usage before and after the change in the data types.
3.	Dump the data into the mysql database.
4.	index the column after the data is inserted.

# Step 1: Import Libraries and Read the CSV/Excel File

In [1]:
import pandas as pd

# Read the CSV or Excel file
file_path = 'D:\\Data Anlayst\\NeenOpal\\used_bikes.csv'  # Replace with the path to your file
df = pd.read_csv(file_path)  # Use read_excel() if your file is in Excel format
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
144,Royal Enfield Standard 350cc,115000.0,Hyderabad,14900.0,First Owner,3.0,350.0,Royal Enfield
145,Honda CB Shine 125cc Disc,65000.0,Mumbai,2000.0,First Owner,3.0,125.0,Honda
146,Honda CB Unicorn ABS 150cc,99000.0,Mumbai,4000.0,First Owner,2.0,150.0,Honda
147,Yamaha YZF-R15 2.0 150cc,68500.0,Delhi,68500.0,Second Owner,7.0,150.0,Yamaha
148,Yamaha YZF-R15 V3 150cc,140000.0,Delhi,2473.0,First Owner,2.0,150.0,Yamaha

In [2]:
df.dtypes

bike_name      object
price         float64
city           object
kms_driven    float64
owner          object
age           float64
power         float64
brand          object
dtype: object

# Step 2: Check Memory Usage Before Data Type Change

In [3]:
# Display memory usage before changing data types
original_memory_usage = df.memory_usage(deep=True).sum()
print(f"Memory usage before data type change: ")
original_memory_usage

Memory usage before data type change:

46061

# Step 3: Change Data Types

In [4]:
# Change data types as needed
# Example for optimizing float columns

df['bike_name'] = df['bike_name'].astype(str)
df['price'] = df['price'].astype(int)
df['kms_driven'] = df['kms_driven'].astype(int)

# Example for optimizing integer columns
df['age'] = df['age'].astype(int)

In [5]:
# Example for optimizing object columns
df['owner'] = df['owner'].astype(str)
df['brand'] = df['brand'].astype(str)

# Step 4: Check Memory Usage After Data Type Change

In [6]:
# Display memory usage after changing data types
print("\nMemory Usage After Optimization:")
print(df.memory_usage(deep=True).sum())

Memory Usage After Optimization:
44273

# Step 5:  Create a connection string

In [7]:
import pandas as pd
from sqlalchemy import create_engine

# Replace these values with your actual SQL Server connection details
server_name = 'LAPTOP-8B4KETL7'
database_name = 'NeenOpal'

conn_str = f'DRIVER=ODBC Driver 17 for SQL Server;' \
           f'SERVER={server_name};' \
           f'DATABASE={database_name};' \
           f'Trusted_Connection=yes;'
engine = create_engine(f'mssql+pyodbc:///?odbc_connect={conn_str}')

# Step 6:Dump Data into SQL Server Database using SQLAlchemy engine

In [8]:
# Step 2: Dump Data into SQL Server Database using SQLAlchemy engine
table_name = 'BikeTable'  # Replace with your desired table name
df.to_sql(table_name, engine, index=False, if_exists='replace', schema='dbo')
# Create a new Sr_No column with sequential numbers starting from 1

# Query and display the table contents
query = f"SELECT * FROM {'BikeTable'};"
df_result = pd.read_sql(query, engine)

print(f"Contents of {'BikeTable'}:\n")
print(df_result.head(5))

Contents of BikeTable:

                              bike_name   price       city  kms_driven  \
0    TVS Star City Plus Dual Tone 110cc   35000  Ahmedabad       17654
1           Royal Enfield Classic 350cc  119900      Delhi       11000
2                  Triumph Daytona 675R  600000      Delhi         110
3                  TVS Apache RTR 180cc   65000  Bangalore       16329
4  Yamaha FZ S V 2.0 150cc-Ltd. Edition   80000  Bangalore       10000

         owner  age  power          brand
0  First Owner    3  110.0            TVS
1  First Owner    4  350.0  Royal Enfield
2  First Owner    8  675.0        Triumph
3  First Owner    4  180.0            TVS
4  First Owner    3  150.0         Yamaha

# Step 7 :Create Index to column

In [9]:
# Specify the column to index (replace 'Your_Index_Column' with the actual column name)
index_column = 'age'

# Specify the table name
table_name = 'BikeTable'

# Check if the index column exists in the DataFrame and in the database table
if index_column in df.columns:
    # Create the index
    with engine.connect() as connection:
        connection.execute(f"CREATE INDEX idx_{index_column} ON {table_name} ({index_column});")
       
    print(f"The index idx_{index_column} has been added to {table_name}")
else:
    print(f"Error: The column {index_column} is not available in the DataFrame or the table.")

The index idx_age has been added to BikeTable

# Step 8: Remove Index from Table (optional if you want to recreate it)

In [10]:
# Remove the index
index_name = 'idx_age'

# Specify the table name
table_name = 'BikeTable'
with engine.connect() as connection:
    connection.execute(f"DROP INDEX {index_name} ON {table_name};")

print(f"The index {index_name} has been removed from {table_name}.")

The index idx_age has been removed from BikeTable.

In [11]:
#Create index for Bike_name

In [12]:
# Specify the column to index (replace 'Your_Index_Column' with the actual column name)
index_column = 'bike_name'

# Specify the table name
table_name = 'BikeTable'

# Check if the index column exists in the DataFrame and in the database table
if index_column in df.columns:
    # Create the index
    with engine.connect() as connection:
        connection.execute(f"ALTER TABLE {table_name} ALTER COLUMN bike_name VARCHAR(255);")
        connection.execute(f"CREATE INDEX idx_{index_column} ON {table_name} ({index_column});")
       
    print(f"The index idx_CN {index_column} has been added to {table_name}")
else:
    print(f"Error: The column {index_column} is not available in the DataFrame or the table.")

The index idx_CN bike_name has been added to BikeTable

In [13]:
    print(f"select * from {table_name}")
    query = f"SELECT * FROM {'BikeTable'};"
    df_result = pd.read_sql(query, engine)

    print(f"Contents of {'BikeTable'}:\n")
    print(df_result.head(5))

select * from BikeTable
Contents of BikeTable:

                              bike_name   price       city  kms_driven  \
0    TVS Star City Plus Dual Tone 110cc   35000  Ahmedabad       17654
1           Royal Enfield Classic 350cc  119900      Delhi       11000
2                  Triumph Daytona 675R  600000      Delhi         110
3                  TVS Apache RTR 180cc   65000  Bangalore       16329
4  Yamaha FZ S V 2.0 150cc-Ltd. Edition   80000  Bangalore       10000

         owner  age  power          brand
0  First Owner    3  110.0            TVS
1  First Owner    4  350.0  Royal Enfield
2  First Owner    8  675.0        Triumph
3  First Owner    4  180.0            TVS
4  First Owner    3  150.0         Yamaha